<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p>Most frontend developers will be familiar with the popular frameworks Karma and Jasmine. Personally I have had no
        practical experience with them in the 1.5 years I have been developing AngularJS and Angular applications. My
        team relies solely on Selenium to verify our frontend is still functioning, which has caused some problems
        before.
        In my opinion Selenium is fine to verify the user flow, but not to test the individual mechanics of each screen.
        The testing would get complicated very quickly. Unit testing is much better suited to ensure that your methods
        perform their task correctly. When you introduce logic in your code, whether frontend or backend or anywhere
        else, then test cases should be written alongside them.</p>

    <p>I often create pet projects to play with a new framework or build something small. Lately I saw some posts about
        <a href="https://github.com/ngneat/spectator">Spectator</a>, a library that is supposed to make testing easier
        and more compact by removing common boilerplate code. This inspired me to use Spectator to try out frontend
        unit testing.</p>

    <p>At the same time I will use <a href="https://jestjs.io/">Jest</a> instead of Karma to run my tests with. Jest <a
        href="https://medium.com/@wescopeland/easier-angular-unit-testing-af4b972fea12">is said to</a> run faster due to
        parallel executions. It also runs without a browser instance which removes that startup time and eliminates the
        need for browsers to be available in CI environments such as Jenkins. That last point is moot if the e2e tests
        still use browsers, which I recommend. Browsers can still display different behaviors sometimes, which may cause
        a feature to work on one but not the other. Especially IE has been notorious for not respecting the W3
        standards, though Edge is bringing improvement on that regard. For this reason tests will be more representative
        if they succeed on browsers most likely to be used.</p>

    <p>I followed the installation guide for these 2 frameworks from <a
        href="https://itnext.io/testing-angular-applications-with-jest-and-spectator-c05991579807">itnext</a>, which
        worked fine so I will not repeat it here. I decided to apply Spectator testing to this very blog and <a
            [routerLink]="['/blogs/dev/ng-plh']">the Angular library I built for my Chinese Study blog</a>. The links to
        these repositories are publicly available <a href="https://github.com/AlexanderTang/AlexanderTang.github.io">here</a>
        and <a href="https://github.com/AlexanderTang/PiaoLiangHanzi">here</a>. The documentation of Spectator does a
        great job explaining how to setup testing for a wide range of scenarios, but in some more advanced cases
        I found myself needing a little more guidance. The lack of examples due to Spectator being new meant I had to
        work things out myself. I will elaborate on my solutions for problems I could not find online examples for.
    </p>

    <h3>Basic example</h3>

    <p>The <a
        href="https://github.com/AlexanderTang/AlexanderTang.github.io/blob/dev/src/app/core/service/blogRoutingService.spec.ts">blogRoutingService
        test</a> shows a simple example of how a Spectator test looks like:</p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'BlogRoutingService\', () => {
    let spectator: SpectatorService<BlogRoutingService>;
    const createService = createServiceFactory(BlogRoutingService);

    beforeEach(() => spectator = createService());

    it(\'getAllBlogPosts - contains posts\', () => {
        const allBlogPosts: IBlogPost[] = spectator.service.getAllBlogPosts();
        expect(allBlogPosts.map((blogPost: IBlogPost) => blogPost.postTitle))
            .toContain(\'Differences between RSA and HMAC\');
    });'">
    </code></pre>

    <p>I use Jest, so the import for <code class="github-code">SpectatorService</code> and <code
        class="github-code">createServiceFactory</code> should come from <code class="github-code">'@ngneat/spectator/jest'</code>.
    </p>

    <p>In this test <code class="github-code">spectator: SpectatorService</code> represents a spectator wrapper of the
        service we are testing. We can call <code class="github-code">spectator.service</code> which will return the
        <code class="github-code">BlogRoutingService</code>. All the methods of that class are available to be called.
        Typically we want to test each public method in separate test cases. In the example above <code
            class="github-code">getAllBlogPosts()</code> is being tested.</p>

    <p>The spectator wrapper also provides other functionality which we are not making use of yet in this example. <code
        class="github-code">spectator.get</code> is used to return a mocked object. <code class="github-code">spectator.query</code>
        can be used to validate the DOM. How to use these functions and more will be shown in the more advanced examples
        that follow.</p>

    <h3>Host component with input</h3>

    <p>If we wish to test a component by its component selector, then <code class="github-code">SpectatorHost</code>
        should be used. <a
            href="https://github.com/AlexanderTang/PiaoLiangHanzi/blob/master/projects/ng-piao-liang-hanzi/src/lib/ng-piao-liang-hanzi.component.spec.ts">NgPiaoLiangHanziComponent</a>
        provides an example.</p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'NgPiaoLiangHanziComponent\', () => {
  let spectator: SpectatorHost<NgPiaoLiangHanziComponent>;
  const createComponent = createHostFactory({
    component: NgPiaoLiangHanziComponent
  });

  describe(\'Basic pinyin functionality\', () => {
    it(\'Pinyin missing - pinyin generated automatically\', () => {
      spectator = createComponent(&#96;<ng-piao-liang-hanzi [chineseCharacters]=&quot;\'使用\'&quot;></ng-piao-liang-hanzi>&#96;);

      expect(spectator.component.chineseCharacters).toEqual(\'使用\');
      expect(spectator.component.pinyin).toEqual(\'shǐ yòng\');
      expect(spectator.component.charPinyinArray.length).toEqual(2);
      expect(spectator.component.charPinyinArray).toContainEqual({\'char\': \'使\', \'pinyin\': \'shǐ\'});
      expect(spectator.component.charPinyinArray).toContainEqual({\'char\': \'用\', \'pinyin\': \'yòng\'});
      expect(spectator.query(\'ng-piao-liang-hanzi > ruby:nth-child(1) > rb\')).toHaveText(\'使\');
      expect(spectator.query(\'ng-piao-liang-hanzi > ruby:nth-child(1) > rt\')).toHaveText(\'shǐ\');
      expect(spectator.query(\'ng-piao-liang-hanzi > ruby:nth-child(2) > rb\')).toHaveText(\'用\');
      expect(spectator.query(\'ng-piao-liang-hanzi > ruby:nth-child(2) > rt\')).toHaveText(\'yòng\');
    });'">
    </code></pre>

    <p>In this example, we pass the html template of the component we want to test as a parameter to <code
        class="github-code">createComponent</code>. The input parameters are defined exactly the same as using the
        component in production code. Using <code class="github-code">spectator.component</code> we can access not only
        the methods, but also the (public) fields for validation.</p>

    <p>One more interesting note is the use of <code class="github-code">spectator.query</code>. By matching DOM
        elements, the content on display can be tested.</p>

    <h3>Setting providers</h3>

    <p><a
        href="https://github.com/AlexanderTang/PiaoLiangHanzi/blob/master/projects/ng-piao-liang-hanzi/src/lib/ng-piao-liang-hanzi.component.spec.ts">NgPiaoLiangHanziComponent</a>
        also makes use of providers to enable module level parameters. For example <i>ENABLE_ALPHABET</i> is a boolean
        that will enable/disable the use of alphabetical characters. In the test the component can be created to have a
        default provider like this:</p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'NgPiaoLiangHanziComponent\', () => {
  let spectator: SpectatorHost<NgPiaoLiangHanziComponent>;
  const createComponent = createHostFactory({
    component: NgPiaoLiangHanziComponent,
    providers: [{provide: \'ENABLE_ALPHABET\', useValue: false}]
  });'"></code></pre>

    <p>This provider value will be set to <i>false</i> for every component that is created by <code
        class="github-code">createComponent(...)</code>. Should we want to override the value to <i>true</i> in specific
        cases, then we can override the provider at the time of creation:</p>

    <pre><code [languages]="['typescript']" [highlight]="'it(\'Include alphabet - module parameter\', () => {
      spectator = createComponent(&#96;<ng-piao-liang-hanzi [chineseCharacters]=&quot;\'Ab使,用?\'&quot;></ng-piao-liang-hanzi>&#96;,
        {providers: [{provide: \'ENABLE_ALPHABET\', useValue: true}]});'"></code></pre>

    <h3>Re-initialize component</h3>

    <p>If the component to test needs to perform some form of initialization, there is a good chance it will make use of
        external parameters such as a route query parameter or component input. In <a
            href="https://github.com/AlexanderTang/AlexanderTang.github.io/blob/dev/src/app/shared/blog-overview/blog-overview.component.ts">BlogOverviewComponent</a>
        the <code class="github-code">ngOnInit()</code> method will make use of input variable <b>blogPosts</b> and
        query parameter <b>page</b>. The code will look something like this:
    </p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'BlogOverviewComponent\', () => {
    let spectator: SpectatorRouting<BlogOverviewComponent>;
    const createComponent = createRoutingFactory({
        component: BlogOverviewComponent,
        queryParams: {page: 1}
    });

    beforeEach(() => spectator = createComponent());

    it(\'blogPostsForCurrentPage - page 2\', () => {
        spectator.setRouteQueryParam(\'page\', \'2\');
        spectator.setInput(&quot;blogPosts&quot;, blogPosts);

        expect(spectator.component.currentPage).toEqual(1);
    });'"></code></pre>

    <p>This will not work because the initialization of the component is triggered in the <i>beforeEach</i> where the
        spectator is being created. At that time the input <b>blogPosts</b> has not been set yet and the query parameter
        <b>page</b> still holds the default value 1. A simple fix for this is to simply re-initialize the component
        before validation:</p>

    <pre><code [languages]="['typescript']" [highlight]="'it(\'blogPostsForCurrentPage - page 2\', () => {
        spectator.setRouteQueryParam(\'page\', \'2\');
        spectator.setInput(&quot;blogPosts&quot;, blogPosts);
        spectator.component.ngOnInit();

        expect(spectator.component.currentPage).toEqual(1);
    });'"></code></pre>

    <p>Note that the <code class="github-code">SpectatorHost</code> would not have had this issue since the parameters
        are passed in the html template, which happens at creation time of the spectator. The downside of using <i>createHostFactory</i>
        is that we lose the routing functionality that <code class="github-code">SpectatorRouting</code> provides us
        with.</p>

    <h3>Suspend component initialization</h3>

    <p>The previous example works fine if <code class="github-code">ngOnInit()</code> does not throw an error. But if
        it does or the html template requires parameters to be present, then the above solution is insufficient. I
        encountered this problem with
        <a href="https://github.com/AlexanderTang/AlexanderTang.github.io/blob/dev/src/app/core/breadcrumb/custom-breadcrumb.component.ts">my
            breadcrumb component</a> where the html template needs to parse the router url. Since this happens on
        initialization, the mock needs to make that data available before that. <a
            href="https://github.com/AlexanderTang/AlexanderTang.github.io/blob/dev/src/app/core/breadcrumb/custom-breadcrumb.component.spec.ts">This
            test suite</a> shows the solution to this problem:</p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'CustomBreadcrumbComponent\', () => {
    let routerMock: SpyObject<Router>;
    let spectator: SpectatorRouting<CustomBreadcrumbComponent>;
    const createComponent = createRoutingFactory({
        detectChanges: false,
        component: CustomBreadcrumbComponent
    });

    beforeEach(() => {
        spectator = createComponent();
        routerMock = spectator.get<Router>(Router);
    });

    it(\'isHomeBreadcrumbItem - Home\', () => {
        routerMock.parseUrl.andReturn({root: {children: {\'primary\': {segments: [{path: \'\'}]}}}});
        spectator.detectChanges();

        expect(spectator.component.isHomeBreadcrumbItem(\'Home\')).toBeTruthy();
    });'"></code></pre>

    <p>The key thing to note is that <i>detectChanges</i> is set to <i>false</i> at factory level. This will suspend
        initialization of the component, even when it is created in <i>beforeEach()</i>. In the test case a mock
        value is set for the <code class="github-code">routerMock.parseUrl</code> method. With <code
            class="github-code">spectator.detectChanges()</code> initialization is allowed to start, but this time with
        the router properly configured!</p>

    <h3>Validate method calls</h3>

    <p>Finally I want to show a small example how you can verify if mock methods have been called. This is often
        interesting to make sure the conditions to call a method have been reached, without actually testing the method
        itself. The <a
            href="https://github.com/AlexanderTang/AlexanderTang.github.io/blob/dev/src/app/shared/blog-sidebar/search/blog-sidebar-search.component.spec.ts">BlogSidebarSearch
            test</a> provides an example:</p>

    <pre><code [languages]="['typescript']" [highlight]="'describe(\'BlogSidebarSearchComponent\', () => {
    let routerMock: SpyObject<Router>;
    let spectator: SpectatorRouting<BlogSidebarSearchComponent>;
    const createComponent = createRoutingFactory(...);

    beforeEach(() => {...});

    it(\'onSubmitSearch\', () => {
        spectator.component.searchTerm = \'testSearchTerm\';
        const routerNavigation = spyOn(routerMock, \'navigate\');

        spectator.component.onSubmitSearch();

        expect(routerNavigation).toHaveBeenCalledWith([\'/search-results\'], {queryParams: {\'search-term\': \'testSearchTerm\'}});
    });'"></code></pre>

    <p>Most of the code is explanatory by now. The only thing 'new' is the <code class="github-code">spyOn</code> method
        which accepts parameters for the mock to test and a method name of that mock, which in this case is <code
            class="github-code">navigate()</code>.
        <code class="github-code">spyOn</code> returns an object of type <code class="github-code">jasmine.Spy</code>.
        This is part of Jest its library making use of the Jasmine API, so for Jasmine users this will probably look
        familiar. The spy object can be used to verify the method has been called, with the option to test its
        parameters as well.</p>

    <hr>

    <p>These solutions are the results of my experimentation and can most likely be improved upon. If you find a
        'better/cleaner' way to improve my code, you are definitely encouraged to enlighten me about it. You can send me
        a mail or better yet, make a pull request! If you have questions instead you are also free to contact me.</p>
</app-blog-post>
