table {
    border: 1px solid #1C6EA4;
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    td {
        border: 1px solid #AAAAAA;
        padding: 3px 8px;
    }

    tr td:first-child {
        width: 90px;
        text-align: center;
    }
}
