<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">
    <p>This game follows the story of two Source Hunters who are set on a mission to eradicate Source (aka
        magic) from the world. The practitioners of Source, called Sourcerers, often engage in barbaric rituals or mass
        genocide wherever they go. As the protagonists unravel more of the mysteries that drive the Sourcerers, they
        learn of a greater plan at work.</p>

    <p>Larian Studios is the company behind Divinity Original Sin, a RPG game which scores high on user
        reviews. The story telling and immersion in this game is superb. The ambient sound, music and voices all suit
        the game very well and does not become boring at any point. You can bring companions with you with each their
        own backstory and interactions with the world.</p>

    <p>There is a high degree of freedom on where and when to go. This game does not hold your hand and tell you where
        to go next but provides clues instead. However some areas will be difficult to complete without a suitable
        level. The maps may not seem that big but there are many secret areas to explore. It is usually
        rewarding to find them to enjoy all the sidestories and maximize experience points.</p>

    <p>Your characters can be customized any way you like. You get a set of attribute points, skill points and talents
        over the course of leveling up that you can distribute anyway you like. This means that classes don't really
        exist in this game. It is entirely possible to invest in stealth, melee, ranged, magic and defense at the same
        time although the character won't be effective in any task in this case. This does provide interesting mechanics
        where each character can put a few points in several types of skills while specializing in one particular one.
        For example, a character could specialize in being a ranger but still puts points in Hydrosophist (water magic),
        Geomancer (earth magic) and Scoundrel (rogue skills). This allows the ranger to summon elementals in situations
        where a bow is ineffective or to remove an ailment (such as stun or blind) from an ally to put him/her back in
        the game. This diversity encourage players to get creative. Although the game starts out challenging, it
        gets progressively easier (too easy) if you use some of the high tier builds in the game.
        This remains true even in Tactician mode.</p>

    <p>Divinity Original Sin received many updates (bug fixes, more features, QOL improvements) since its initial
        release. Rather than changing the core product too much they opted to call the original game the <i>Classic</i>
        version while releasing the <i>Enhanced Edition</i> that contains all the changes free of
        charge. This allows players to choose for themselves whether they accept these changes or not.</p>

    <p>In short, this game does many things exactly right. Fans of classics such as Neverwinter Nights 2 are likely to
        enjoy this masterpiece as well.</p>

</app-blog-post>
