<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p>Most Chinese RPG's such as Fate Seeker are in many ways similar to Western RPG's. You've got a mixture of quests
        and combat from which you gain experience and gold. With these elements you progress your character and
        gradually become more powerful as you uncover more of the plot. Even though this sounds familiar, they still
        provide a very different player experience. I believe it comes from the difference in aesthetics of the
        characters and landscape, but also from the ingame setting. The different take on how to present the game
        visually by itself can provide a fresh feel for RPG veterans looking for something new.</p>

    <p>When you've played a couple of typical Western RPG's such as Skyrim, The Witcher 3
        or any of the Gothic series you will notice many recurring elements that feel very similar: the environment
        style, the character
        progression, the combat, and so on. This makes sense since game companies analyze what appeals to players to
        improve on their own game. However, the player base in Asia are a very different target audience than the
        Western player base and this reflects in the sort of games that gets produced.</p>

    <p>For Chinese games, a world setting that involves martial arts is a common theme. In particular many games such as
        Fate Seeker are inspired by elements from the novels of <a href="https://en.wikipedia.org/wiki/Jin_Yong">famous
            writer Jin Yong</a>. In these games the emphasis lies on strengthening your body through training and
        breathing techniques. It's basically <a href="https://en.wikipedia.org/wiki/Wuxia">a fantasy world (called
            Wuxia)</a> where you can achieve Marvel-like superpowers through practices like Tai Chi.</p>

    <p>Even though I am subtly recommending you to try this game and you may be compelled to, it will be difficult if
        you do not master the Chinese language. The game does not provide an official English translation as of yet.
        That is why I wish to start a <i>Let's Play</i> edition for this game. I am a novice in Chinese myself, hoping
        to get some practice as I translate while playing the game for the first time. At the same time I can share my
        experience with you. So let us start:</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/intro/character_creation.png" alt="">

    <p>I opted for aphabetical characters instead of a Chinese name to easily recognize my own name during dialogues. In
        this case my surname is LP (from Let's Play) and my first name is FS (from Fate Seeker). On the bottom left is
        my player's biography. It basically seems to say something along the lines that I am mediocre in terms of
        ability and can easily become insignificant if I don't train myself. But with continuous effort it is possible
        to achieve great heights.</p>

    <p>On the bottom right you can see 8 player stats. They are a bit different from the typical STR/DEX/INT stats in
        Western RPG's.</p>

    <table>
        <tbody>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="生命"></ng-piao-liang-hanzi>
            </td>
            <td>These are your health points. Reach zero and you will presumably lose.</td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="内力"></ng-piao-liang-hanzi>
            </td>
            <td>This represents internal force. It closely resembles strength which improves damage for both
                armed and unarmed combat.
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="智谋"></ng-piao-liang-hanzi>
            </td>
            <td>This is your wisdom stat. I assume it is similar to lore in D&D games which will unlock dialogue
                options.
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="气力"></ng-piao-liang-hanzi>
            </td>
            <td>This also seems to represent strength, but it comes from breathing techniques. It is unclear how this
                differs from the internal force at this point. We will learn more about it ingame.
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="见闻"></ng-piao-liang-hanzi>
            </td>
            <td>Knowledge, which seems similar to wisdom. The characters by themselves translate to our basic
                senses such as seeing, smelling and hearing. It is possible that this is our ability to gather new
                information.
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="警觉"></ng-piao-liang-hanzi>
            </td>
            <td>Vigilance/alertness. Perhaps it works like perception in D&D where we can spot traps and find loot or
                entrances.
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="身法"></ng-piao-liang-hanzi>
            </td>
            <td>This represents body movements. No doubt this will affect our running speed and the heights that we can
                reach through flight (if this is featured in the game).
            </td>
        </tr>
        <tr>
            <td>
                <ng-piao-liang-hanzi chineseCharacters="直觉"></ng-piao-liang-hanzi>
            </td>
            <td>Instinct/intuition. This sounds very similar to vigilance so I guess we'll have to find out ingame what
                the differences are.
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <p>The character build starts off with several points in a couple of these stats. By rolling the dice (the
        blue button) it will redistribute the points across the stats. After clicking through them several times I
        noticed that the distributions are fixed and based on a handful of pre-built templates. In the picture above you
        can see which distribution I have picked since the numbers are colored green. We start off with 3 points in
        knowledge, vigilance, wisdom and
        strength. I thought it may be a good idea to invest in skills that improve information gathering. Uncovering
        more quests/encounters typically means more loot and more experience points. It may also provide us with extra
        clues when we get stuck.</p>

    <p>That is it. We have created our character and are ready to start the adventure in the next part of this Let's
        Play series.</p>
</app-blog-post>
