<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p>The game starts off with meeting the teacher. He scolds LPFS (our main character) for breaking a promise. They
        promptly spar a little with the teacher giving some pointers about LPFS's balance. LPFS responds in a rebellious
        manner and complains that the teacher is being too hard on him.</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/meeting_teacher.png" alt="">

    <p>After a bit of back and forth, it becomes clear that LPFS broke the promise of getting him "醉仙酿", which seems to
        be some type of wine. In retaliation LPFS recalls that the teacher was supposed to get "绸缎" (some sort of silk)
        for the teacher's wife which he forgot. The teacher reprimands by saying that <i>you can't do great things if
            you fuss over small details all the time</i> and spurs him to focus on his martial arts training. LPFS
        says he will remember these words in order to become great like his sifu (teacher), although there are strong
        hints that there's sarcasm involved. The teacher seems to have picked up on it and tells him to stay here and
        practice his kung fu.</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/silk_for_teachers_wife.png" alt="">

    <p>Sifu then tells aunt Li to watch over the disciple's progress and to make him skip dinner
        if he doesn't practice hard, to which aunt Li agrees. The disciple is now offended that aunt Li picks her
        husbands' side and asks why she agrees to this after the teacher forgot to buy the silk. She was supposed to
        make new clothes for him. Aunt Li assures him that teacher looks out for his well being. As for the worn out
        clothes, he'll have to put up with it for now. The teacher leaves the scene at this point.</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/deal_with_kids_multiple_choice.png" alt="">

    <p>Some kids arrive to engage the main character with some playful banter. To show these unruly kids
        who is boss, I am presented with the first multipe choice option in the game. I can either choose to mess with
        the kids or take the high road to
        <a href="https://www.teachingnomad.com/blog/china/what-does-saving-face-mean/">'save face'</a> for auntie.
        Either option only impacts the following dialogues slightly. Eventually auntie has had enough and threatens to
        count to 3. If LFPS does not start his training, she'll tell his teacher where LFPS usually hides when he should
        be training. With this we're finally getting serious.</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/combat_intro.png" alt="">

    <p>We get a quick combat intro. In the left part it says something along the lines of <i>"Every style has
        <ng-piao-liang-hanzi [chineseCharacters]="'定力'"></ng-piao-liang-hanzi>
        . 定力 indicates how easily I get disrupted by the enemy."</i> On the right side we have <i>"
        <ng-piao-liang-hanzi [chineseCharacters]="'暗劲'"></ng-piao-liang-hanzi>
        high style allows us to easily break the enemy's movement and prevent him from blocking."</i> Or something like
        that I think... I guess we'll just wing it. My first challenger is a 'wooden person', aka a training dummy:
    </p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/wooden_person.png" alt="">

    <p>I managed to beat him from the first try. The combat looks rather satisfying I might add:</p>

    <figure>
        <img class="img-fluid rounded mb-4" src="assets/gifs/fateseeker/wooden_person.gif" alt="">
    </figure>

    <p>Next we learn a little about the bagua skill system. It's not too clear to me what they do, but it seems that
        putting points in some of the 8 directions would unlock story material (such as side missions probably).</p>

    <img class="img-fluid rounded mb-4" src="assets/images/fate_seeker/part1/bagua_upgrades.png" alt="">

    <p>We also earned 5 attribute points that we'll be able to spend on this bagua system. Immediately after I am
        approached by a bulky guy who alerts me to a conflict unfolding right now with some lady. He wants me to go over
        there and attempt to resolve the matter to which LFPS agrees.</p>

    <p>This concludes part 1. Next part I will resume by looking into this conflict first.</p>
</app-blog-post>
