<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p>RSA and HMAC are cryptographic algorithms that can scramble data into something indecipherable. This article
        will highlight how they work, what their differences are and some use cases in which to use them without
        delving into the mathematical aspects.</p>

    <h3>RSA</h3>

    <p>RSA is an asymmetric algorithm that uses a public and private
        key pair. As the names suggest, the private key is kept secret from most parties while the public key is public
        for everyone to use. The following shows an example with RS512, generated <a
            href="https://travistidwell.com/jsencrypt/demo/">online</a>:</p>

    <div class="row">
        <div class="col-8">
            <pre><code [highlight]="
    '-----BEGIN RSA PRIVATE KEY-----
MIIBOwIBAAJBAJTiKVtSDSrTAdYhHEA/1rEzJ4RQHEEdcPeZdmZSSHborXbEy4c5
7g+k/b/c67KGDTfSoCj8T3L9OpnZd+SxTocCAwEAAQJAA2A1a9qqbcQnEIHjsBlC
dvYf+UIPwfI284ZJRvyqo/eNsjjMzuBbyD5GHwUxXSjvDb1Hrr8W+fGw8+6x9nWq
MQIhAOOMkZbBnDAZAL61Er5faOzPU0Lsa7mlMDYjJKy9QZylAiEAp3+mG6zzxA/I
tKetg2azqGOdyLs5znn13T/7yevkursCIQCckrHvISO+uMWZc/EEy5PgNryc9R8e
67pj1gS7U7Kc/QIgKOMyK0NW5h9sQR1Fb/QcGxjmJV/+xnZjHDVIQ4w/840CIQC+
88uVWV4dU3dsdcaoHaO08ZDKHETSZXifFTs4gJ0+JA==
-----END RSA PRIVATE KEY-----'">
    </code></pre>
        </div>
        <div class="col-4">
            <pre><code [highlight]="
    '-----BEGIN PUBLIC KEY-----
MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJTiKVtSDSrTAdYhHEA/1rEzJ4RQHEEd
cPeZdmZSSHborXbEy4c57g+k/b/c67KGDTfSoCj8T3L9OpnZd+SxTocCAwEAAQ==
-----END PUBLIC KEY-----'">
    </code></pre>
        </div>
    </div>

    <p><i>I strongly advise against using online tools to generate public/private keys for use in production!</i></p>

    <p>The public key can be used to encrypt a message which the private key can decrypt. The inverse also works:
        private key for encryption and public key for decryption! This is confusing for some because RSA is an
        asymmetric algorithm, but the meaning of an asymmetric algorithm is interpreted the wrong way. RSA is asymmetric
        because different keys are used for encryption and decryption, as
        opposed to symmetric algorithms where the same key is used. The bidirectional encryption/decryption allows RSA
        to be used in different scenarios. Let's see:</p>

    <h5>Encryption</h5>

    <p>RSA can be used for encryption of data. Take for example a server which clients can make requests to. Anyone can
        communicate with the server, but the messages may contain sensitive data such as passwords.
        Man-in-the-middle-attacks may intercept ongoing network traffic, so the data should be indecipherable by
        everyone except the intended recipient which is the server. The server can generate a
        public/private key pair to solve this problem.</p>

    <p>The public key gets distributed to anyone accessing the server. Visitors encrypt their data with the
        public key and send it to the server. The server uses the private key to decrypt the message and access the
        contents. Even if a third party managed to intercept the message over the network, it is useless
        without the private key to restore the original data.</p>

    <figure>
        <img class="img-fluid rounded width--7" src="assets/images/rsa_public_private_key.png" alt="">
        <figcaption>Public/private key encryption
            <small>- source: twilio.com</small>
        </figcaption>
    </figure>

    <p>Using another example, say two people wish to communicate with each other using encrypted messages. Both parties
        can generate their own public/private key pairs and exchange
        public keys. This achieves the same situation as the server/client example, except this time they are both
        the sender and receiver of messages. Person A uses the public key of person B to encrypt data and send them
        to person B. Person B uses his own private key to decrypt the message sent by person A. In this transaction
        only the public/private key pair of person B is involved. The same reasoning holds when person B becomes the
        sender, by using person A's public/private key pair.</p>

    <h5>Authenticity validation</h5>

    <p>RSA is not only useful for encryption, but it can also be used for validating the authenticity of a message.
        The intent is very different from the encryption of data in the previous examples. In this case everyone is
        authorized to view the message contents, but they are not allowed to <i>modify</i> it.</p>

    <p>The private key is this time known only by the sender instead of the receiver, so the public/private key pair
        needs to be generated by the sender. The public key is again openly available to everyone else. The sender
        encrypts the message with the private key and attaches it to the original plain text message as a
        <i>signature</i>. Using the generated public/private key pair above, it will look something like this:</p>

    <figure>
        <img class="img-fluid rounded width--8" src="assets/images/rsa_signature.png" alt="">
        <figcaption>Signature example using <a
            href="https://8gwifi.org/RSAFunctionality?rsasignverifyfunctions=rsasignverifyfunctions&keysize=512">online
            tool</a>
        </figcaption>
    </figure>

    <p>Any modification made to the message will invalidate the accompanying signature. With the public key the
        invalid signature can be detected and the message deemed compromised.</p>

    <h3>HMAC</h3>

    <p>HMAC is more simplistic in nature. There is just one (secret) key which is used to create a hash from a message,
        but there is no way to decrypt the hashed output to its original form. This makes HMAC unsuitable for the
        encryption of data. It is mainly used for authenticity validation by generating a hash from a message, which
        becomes the signature similar to RSA. The receiver of the message uses the <i>same</i> key to generate a
        hash from the message contents and compares it with the accompanying signature. The authenticity of the message
        is preserved when the hash matches the signature.</p>

    <p>Since the receiver needs the key to validate the signature, special care must be taken to ensure it does not
        fall in the hands of any third parties. If the key gets stolen then the attacker can modify the message
        contents and use the key to generate a new and <b>valid</b> signature.</p>

    <h3>Comparison RSA and HMAC</h3>

    <p>One may believe that RSA is the clear winner since it has more applicable use cases and has less opportunity for
        secret keys to get stolen. HMAC does have the advantage of having smaller token sizes and requires less
        computational time to validate signatures which translates to better performance. If you are in full control
        over both the server and the client applications, the risk of secret keys getting stolen will probably be
        mitigated. If this is the case and performance is a big factor, HMAC is a good candidate. In most other
        cases I would favor RSA.</p>

    <p>Example implementations of RSA/HMAC are RS256 and HS256, which make use of SHA-256. For longer keys, use
        implementations with SHA-384 or SHA-512.</p>


    <h3><i>Further reading</i></h3>

    <p>This post focused on a high level explanation on purpose, leaving out the mathematical reasoning to better men.
        If you are left wondering how the public/private key pairs works, I recommend
        <a href="https://www.comparitech.com/blog/information-security/rsa-encryption/">this post</a>.</p>
</app-blog-post>
