<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">
    <p>The plot follows a group of Sourcerers, which are practitioners of magic, who each have their own mission in this
        adventure. In DOS I the protagonists were Source Hunters who were trying to take
        down evil Sourcerers. The setting of DOS II takes place in the future where the roles are
        reversed. The antagonists try to extract the Source out of Sourcerers, leaving an empty body with no mind of its
        own behind.</p>

    <p>Many of the strong elements that made first game successful, such as the story telling and rich environment, have
        been carried over smoothly. Probably the biggest change in the game is the combat system:</p>
    <ul>
        <li>In DOS I, having a high initiative team provided a massive advantage. The characters would use
            their first turn to summon things and destroy/CC high priority targets. By the time it was the enemies turn
            they were already reduced in numbers or were unable to do anything on their turn. This has been addressed in
            DOS II by interweaving the player's turn with the enemies turn. The character with the highest initiative
            starts and from then on both the player and enemy team take turns performing actions with a single
            character.
        </li>
        <li>Physical and Magic Armor have been introduced. As mentioned, in the previous game the first player character
            could stun the next enemy that gets to act and the following player character stunning the enemy after that
            and so on, effectively locking the enemy team (largely) out of play. This made combat incredibly easy most
            of the time even in Tactician mode. To address this, physical damage depletes physical armor and magic
            damage depletes magic armor first before reducing health points. Both types of armors also block certain
            status ailments each while it hasn't been completely depleted. This means that it is no longer possible to
            simply stun your way to victory as you need to deal a respectable amount of damage first.
        </li>
    </ul>

    <p>This combat revamp made it less interesting to have a hybrid group of physical and magic damage dealers. It is
        more efficient to quickly chip away at one type of armor and then kill or CC the target than it is to deplete
        both armors across multiple enemies. Despite this I wanted to try out many different things the game had to
        offer. Confident from my Tactician playthrough from the previous game, I started this game on Tactician mode as
        well with an even mix of physical and magic damage dealers: one hydro/aero caster, one pyro/geo caster, one
        ranger and one 2-handed warrior. It soon became apparent that was not a wise decision
        as I was getting stomped as early as level 3. I resorted to save scumming and maximum terrain usage to barely
        survive most of my encounters.</p>

    <p>As the game progressed the ranger played a more crucial role in terms of dealing damage, so my party played all
        around him. The magic spells were often more useful outside of combat and mostly served to buff and
        heal my party. Luckily the game does provide ways for my INT based characters to deal physical damage through
        some of the necromancy spells that scale with INT. Likewise there are skills that deal magic damage but are
        based off of STR. This provides a certain flexibility but those choices are very limited.</p>

    <p>Having made many wrong decisions in the first hours of my game, I learned that it's possible to completely respec
        all characters attributes, skills and talents for free! This allows you to change your mind and recustomize your
        whole character as you see fit. The only caution is that you need to spend more gold learning spells for the new
        specializations, though the old ones remain in your skillbook should you want to switch back. However, if you
        invest in bartering and thievery then gold will not be a problem.</p>

    <p>I still decided to waddle my way through the game with my hybrid composition. There are rare moments where having
        access to physical damage or magic damage helps immensely versus if you only had a specific damage type.
        Examples are trolls that are weak to one specific element or enemies with a ton of physical armor and (almost)
        no magic armor. But there were a lot of tough encounters where this setup felt impossible to win with. In
        hindsight I do not recommend your first game to be on Tactician mode so you may get a feel for the game
        mechanics first.</p>

    <p>All in all I enjoyed this game, perhaps even moreso than the Divinity Original Sin I.</p>
</app-blog-post>
