$root: "/";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/github.css";

@import "util/sizes";
@import "util/breadcrumb";
@import "util/github_code";
@import "util/chinese_styling";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    text-align: center;
}
